/* 
    Created on : 16 févr. 2017, 10:13:00
    Authors     : Jules Jamart et Granddad
*/
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#container {
    position: relative;   
    border: 2px solid gray;    
}
.contnorm {
    width:calc(100vw - 5px);
    height:calc(100vh - 7px);  
}

#tête {
    position: relative;
    height:12vh;
    padding-left: 13vh;
    background-color:green;
    border: 0.7vh #66ff66 ridge; 
    text-align: center;
    background-image: url("../images/pig6.png");
    background-repeat: no-repeat;   
    background-size: contain;  
    font-size: 9vh;
    font-family: vladimir script;
    color: gold;        
}
#numPigs {
    width:11vh;
    float:right;
    color: darkred;      
}
.titleNums {
    display: inline-block;
    height:10vh;        
    border: 0.5vh #66ff66 ridge;
    font-size: 8vh;
    padding: 0.5vh;
    background-color: inherit;
    text-align: center;
    font-family: IMPACT;
   user-select:none;
   -moz-user-select:none;
   -webkit-user-select:none;
   -ms-user-select:none;     
}
.shuttleImage { 
    animation: suttleImageAnim 10s infinite;
}
@keyframes suttleImageAnim {
    0% , 100% {
      background-position-x: 0%;       
    }
    50% {
       background-position-x: 100%;
    }
}
#score{
    position: absolute;
    left:0;
    width:14vh;
    color: silver;
   user-select:none;
   -moz-user-select:none;
   -webkit-user-select:none;
   -ms-user-select:none;     
}
#scoreEffect {
   position: absolute;
   left:0;
   top:0;
   width:13vh;
   height:10vh;
   margin: 1vh;
   font-size: 8vh;
   padding-right: 2vh;
   border-radius: 1vh;
   z-index: 100;
   transform-origin: 0 0;
   text-align: right;
   font-family: IMPACT;
   user-select:none;
   -moz-user-select:none;
   -webkit-user-select:none;
   -ms-user-select:none;    
}
.addScore {    
    color: darkmagenta;
    animation: addScoreAnim ease-in-out 2s;
}
@keyframes addScoreAnim {
    0%, 100%{
        transform:scale(1);
    }
    50% {
         transform:scale(5); 
    }
}
.playername {
    width: 36vh;
    font-size:3vh;    
}
.okbutton {
    font-size: 3vh;
}
.champions {
   border-bottom: 4px solid blue;
}
.topscores {
    display: inline-block;;
    margin: 5px;
    font-size: 4vh;
}
.leaderrname {
    display: inline-block;
    width:36vh;
    text-align: left;   
}
.leaderscore {
    display: inline-block;
    width:10vh;
    text-align: right;
}
#centre {
    position: relative;
    clear: right;
    height:calc(100% - 20vh);
    font-size: 0;
}
#pieds{  
      height:7vh;
      background-color:#cc0066
}
#button_bar {
   float:right;
   user-select:none;
   -moz-user-select:none;
   -webkit-user-select:none;
   -ms-user-select:none;    
}
.but {
    display: inline-block;
    margin: 1.6vh;
    border: 1px transparent solid;   
    border-radius: 1.2vh;
    height:3.5vh;
    width: 14vh;
    font-size:2.3vh;
    text-align: center;
    color:white;
   user-select:none;
   -moz-user-select:none;
   -webkit-user-select:none;
   -ms-user-select:none;     
}
#button01 {
    background-color:darkred;
}
#button01:hover {
  border-color: pink;
}
#button01:active {
    background-color: red;
    border-color: transparent;    
}
#button02 {
    background-color: darkblue;
}
#button02:hover {
   border-color:lightblue;
}
#button02:active {
    background-color: blue;
    border-color: transparent;    
}
#button03 {
    position: relative;
    background-image: url("../images/fullScreen.png");
    background-repeat: no-repeat;
    background-size: 3.5vh;
    color:transparent;
    width: 3.5vh;
}
#button03:active {
    border-color: black;
    top:1px;
    left:1px;
}

#gauche {   
     display: inline-block; 
     width: 3.5vw;
     height:100%;
     background-color:#33ffff;
}
#corp{ 
     position: relative;
     display: inline-block; 
     width:calc(100% - 12vw);
     height:100%;
     background-color:#009999;
}
#splashContainer {
    position: absolute;
    width:100%;
    height: 100%;  
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}
#splash{
    font-family: IMPACT;
    font-size: 5vh;
    text-align: center;
    border-radius: 5vh;
    padding: 2vh;
    border: 1vh solid rgba(0,99,100,0.2);
    background-color: rgba(0,99,100,0.2);
    color:firebrick;
    user-select:none;
   -moz-user-select:none;
   -webkit-user-select:none;
   -ms-user-select:none;    
}
#params {
    font-size: 0px;
}
.paramsInputs {
    display: inline-block;
    background-color: rgba(0,99,100,0.2);   
    width:6vw;
    font-size:3vh;
    margin: 2vh 2vw 0 2vw;
}
#settings input[type="checkbox"] {
  width:3.5vh;
  height:3.5vh;
}
#droite{
     display: inline-block;
     position: relative;
     width:8.5vw;
     height:100%;
     background-color:#009999;
}
#racket{
     position: absolute;
     cursor: pointer;
     width: 100%;
     height:10vh;
}
#racket div {
    width:1.5vh;
    height: 100%;
    margin: 0 auto 0 auto;
    background-color: gray;  
}
#ball {
     position: absolute;
     width:10vh;
     height:10vh;
     z-index: 100;
}
#pig {
   position: absolute;
   width:100%;
   height:100%;
   background-image: url("../images/pigs.png");
   background-repeat: no-repeat;
   background-size: 533% 100%;
}

.effect {
   position: absolute;
   text-align: center;
   font-size:2vh;
   padding-top: 1.5vh;
   width:7vh;
   height:6vh;
   margin: 2vh;
   border-radius: 40%;
   color: darkred;
   visibility: hidden;
   user-select:none;
   -moz-user-select:none;
   -webkit-user-select:none;
   -ms-user-select:none;    
}
.growspin {
   visibility: visible;
   background: radial-gradient(transparent 50%, rgba(0,255,0,0.5) 80%);  
   animation: growspinAnim 0.75s ease-in-out;
}
@keyframes growspinAnim {
    0% {      
      transform:  scale(1) rotate(0deg); 
    }
    60% {
       transform:  scale(7) rotate(0deg);  
    }
    80% {
       transform:  scale(7) rotate(720deg); 
    }
    100% {
       transform:  scale(0.5) rotate(0deg);
    }
}
.pulse {
    visibility: visible;
    color: darkblue;  
    background: radial-gradient(transparent 50%, rgba(0,0,255,0.5) 80%);   
    animation: pulseAnim 0.5s;
    
}
@keyframes pulseAnim {
    0% {
        transform: scale(7);
    }
    20% {
        transform: scale(1);
    }
    40% {
        /*transform: translate(-300px,0) scale(7);*/
        transform: translate(-50vw,0) scale(7);
    }
    60% {
        transform: translate(-50vw,0) scale(1);
    }
    80% {
        /*transform: translate(-200px,0) scale(7);*/
        transform: translate(-50vw,0) scale(7);
    }
    100% {
        transform: scale(1);
    }
}
